header {
  display: inline;
}

body {
  font-size: 100%;
  display: inline-block;
  line-height: 26px;
  background-color: #ffffffa6;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

a {
  text-decoration: none;
  font-family: "ff-meta-web-pro", sans-serif;
}

a:visited {
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
}

.container {
  position: relative;
}

/* text to go over the container class which hovers over images such as the homepage and subjects*/
.welcomeText {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.267);
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
}

.welcomeText a {
  color: rgb(255, 255, 255);
}

.topnav:last-child {
  border-right: none;
}

/*all links inside the topnav class will be aliigned into the center and display as black with no text decoration to get rid of an underlining*/
.topnav a {
  display: in-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*change background of the links when hovering over a link */
.topnav a:hover:not(.active) {
  background-color: rgba(245, 149, 24, 0.555);
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

table{
  table-layout: auto;
  width: auto;
  overflow-x:auto;
  display: inline-table;


  
}

th, td {
  text-align: left;
  padding: 8px;
  
}

/*used to style to div navation bar */
.topnav {
  margin: 1px;
  padding: 1px;
  width: auto;
  overflow: hidden;
  text-align: center;
  color: #9399a1;
  background-color: rgba(142, 142, 143, 0.061);
}

.topnav .icon {
  display: none;
}

footer {
  display: block;
  text-decoration: none;
}

#aboutusimage1{
    float: right;    
    margin: 0 0 0 15px;
    
}

#aboutusimage2{
  float: left;    
  margin:0 15px 0 0;
  
}

#fictionElement{
  width: 10%;
  height: 10%;


}

#fictionImg{
  width: 300%;
  height: 100%;

}

#search{
  float: right;
}



#newAjexSearch{
  float: right;
}

#newAjexSearchSubmit{
  float: right;
}

#programmingElement{
  width: 10%;
  height: 10%;

}

#programmingImg{
  width: 300%;
  height: 100%;
}

#horrorElement{
  width: 10%;
  height: 10%;

}

#horrorImg{
  width: 300%;
  height: 100%;
}

#refreshbutton{
  height: 50px;
  width: 50px;
  float: right;

}

.refreshtip {
  position: relative;
  float: right;
}

#altText{
  visibility: hidden;
}

.refreshtip .tooltiptext {
  visibility: hidden;
  width: 77px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.refreshtip:hover .tooltiptext {
  visibility: visible;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}


/*Hidden class for adding and removing*/
.lds-dual-ring.hidden {
  display: none;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 999;
  opacity: 1;
  transition: all 0.5s;
}

/*Spinner Styles*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*moblie*/
@media screen and (max-width: 653px) and (min-height:400px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav {
    background-color: rgba(51, 51, 51, 0.219);
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .welcomeText {
    position: absolute;
    bottom: 0px;
    right: auto;
    color: rgb(255, 255, 255);
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  table {
    width: 100%;
    display: inline-block;
  }

  body {
    font-size: 100%;
    display: block;
    line-height: 26px;
    background-color: #ffffffa6;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin: auto;
  }

  th, td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
  }

  .aboutusimage{
    width: 50%;
    height: 50%;
  }

  #fictionElement{
    width: 25%;
    height: 10%;
  
  
  }
  
  #fictionImg{
    width: 300%;
    height: 100%;
  
  }
  
  #search{
    display: inline;
    padding-left: 2%;
    padding-bottom: 2%;
  }
  
  #programmingElement{
    width: 25%;
    height: 10%;
  
  }
  
  #programmingImg{
    width: 300%;
    height: 100%;
  }
  
  #horrorElement{
    width: 15%;
    height: 10%;
  
  }
  
  #horrorImg{
    width: 300%;
    height: 100%;
  }
  

}